* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
    height: 100vh;
    width: 100vw;
    padding: 15vh 0 15vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clockContainer {
    background-color: red;
    color: black;
    width: 100vw;
    height: 100%;
    display: flex   ;
    justify-content: center;
    align-items: center;
}

.clock {
    font-size: 10rem;
}